- provide(:title, "Contacts")

%h1= t('.contacts_title')

.about-copy
  %h1.list
    Приложение Covers разработано в качестве практического материала для изучения курса
    "Применение альтернативных фреймвоков Ruby_on_Rails".
    %br

    Предложения по развитию приложения и улучшению его функциональности можно направлять по адресу:
    zoneiva@gmail.com
    %br


